{{- if eq .Values.engine "woocommerce" }}
apiVersion: v1
kind: Service
metadata:
  name: wordpress
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: wordpress
  ports:
    - port: 80
      targetPort: 80
{{- end }}

